.box {
    margin: 0 0 10px;
    border: 1px solid #ddd;

    h3 {
        font-weight: 400;
        margin: 10px 10px 0;
        font-size: 21px;
        border: 0;
    }

    h4 {
        font-weight: 400;
        margin: 10px 10px 0;
        border: 0;
        font-size: 16px;
        line-height: 20px;
    }

    .boxcontent {
        margin: 10px;
    }
}
.box-alert {
    padding: 20px;
    margin: 0 0 10px;

    h3 {
        margin: 0;
        border: 0;
    }

    small {
        display: block;
        line-height: 18px;
        margin-top: 10px;
    }
}
.box-primary {
    background: #0078e7;
    color: #fff;

    h3 {
        color: #fff;
    }

    div label.label {
        color: #fff;
    }

    .button {
        background: #fff;
        color: #333;
    }
}
.box-info {
    background: #999;
    color: #fff;

    h3 {
        color: #fff;
    }

    div label.label {
        color: #fff;
    }

    .button {
        background: #eee;
        color: #333;
    }
}


.box_total h3 {
    text-indent: 10px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    line-height: 30px;
    font-size: inherit;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
}
.box_total .boxcontent a {
    color: #ff0;
}
.box_total .boxcontent a:hover {
    color: #f1f1f1;
}
.box_total .boxcontent h4 {
     color: #fff;
     font-size: 12px;
}
.box.admin_reply {
    border-color: #BCE8F1;
    color: #3A87AD;
    background-color: #D9EDF7;
}

.box_info,
.box_total {
    background: #0078E7;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin: 0 0 10px;
}


.box_info h3,
.box_info h4,
.box_total h3,
.box_total h3 {
    text-align: center;
    background: none;
    color: #fff;
    border: 0;
}
.box_total .boxcontent {
    padding: 0;
}


/* information box like box total */
.box_info {
    text-align: left;
}
.box_info h3 {
    font-size: 16px;
}
.box_info .boxcontent {
    padding: 0;
}
.box_info a {
    color: #ff0;    
}

.box_info a:hover {
    color: #ff0;    
}
.box_total .row .label {
    color: #fff;
}
