.box {
    margin: 0 0 10px;
    border: 1px solid #ddd;

    h3 {
        font-weight: 400;
        margin: 10px 10px 0;
        font-size: 21px;
        border: 0;
    }

    h4 {
        font-weight: 400;
        margin: 10px 10px 0;
        border: 0;
        font-size: 16px;
        line-height: 20px;
    }

    .boxcontent {
        margin: 10px;
    }
}
.box-highlight {
    border-color: #BCE8F1;
    color: #3A87AD;
    background-color: #D9EDF7;
}
.box-alert {
    padding: 20px;
    margin: 0 0 10px;

    h3,
    h4 {
        margin: 0;
        border: 0;
        color: #fff;
    }
    
    .label {
        color: #fff;
    }

    small {
        display: block;
        line-height: 18px;
        margin-top: 10px;
    }
}
.box-primary {
    background-color: #0078e7;
    color: #fff;

    .button {
        background-color: #fff;
        color: #333;
    }
}
.box-info {
    background-color: #999;
    color: #fff;

    .button {
        background-color: #eee;
        color: #333;
    }
}
.box-success {
    color: #fff;
    background-color: #89bc00;
}
.box-error {
    background-color: #CA3C3C;
    color: #fff;

    .button {
        background-color: #eee;
        color: #333;
    }
}
.box-warning {
    background-color: #DF7514;
    color: #fff;

    .button {
        background-color: #eee;
        color: #333;
    }
}
.box-secondary {
    background-color: #42B8DD;
    color: #fff;

    .button {
        background-color: #eee;
        color: #333;
    }
}