.login {
	float: right;
	margin: 49px 0 0;
}

.login-form.login-form {
    max-width: 1200px;
    margin-top: 40px;
}

    .login-form h1 {
        margin: 0;
        /*border-bottom: 1px solid #f00;*/
        border: 0;
        line-height: 30px;
        font-weight: 400;
        /*font-size: 16px;*/
    }
    
    .login-form h2 {
        border: 0;
    }

    .login-form h1 small {
        font-size: .6em;
        color: #666;
        display: block;
    }

    /*.login-form .logo a {
        background: url("../images/logo.png") no-repeat center;
        display: block;
        height: 73px;
        text-indent: -999em;
    }

    .login-form .logo-black a {
        background: url("../images/logo_black.png") no-repeat center;
    }*/

/*.login-form-inner {
    background: #fff;
    padding: 40px 60px 30px;
    box-shadow: 0 2px 8px #ddd;
    border-radius: 3px;
}*/

.login-form .row {
    margin: 15px 0;
}

.login-form label {
    margin-top: 4px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
    border: 1px #ddd solid;
    padding: 4px 8px;
    min-height: 20px;
    max-width: 100%;
    line-height: 20px;
    /*-webkit-border-radius:  3px;
    -moz-border-radius:     3px;
    border-radius:          3px;*/
}

.required {
    color: #900 !important;
    margin-left: 130px;
    font-weight: 600;
    font-size: 11px;
}