@import "layout.less";
@import "buttons.less";
@import "breadcrumb.less";
@import "nav.less";
@import "flash.less";
@import "modal.less";
@import "search-panel.less";
@import "help-panel.less";
@import "login.less";
/*@import "sidebar.less";*/
@import "wizard.less";
@import "tabs.less";
@import "responsive.less";
@import "tour.less";
@import "tooltips.less";
@import "box.less";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
html {
    background: #fff;
}
    html.login-page {
        background: #f5f5f5;
    }
body {
    font: 13px/1.6em "Open Sans",arial,sans-serif;
    margin: 0;
	color: #2c2c2c;
}
a {
    color: #21759B;
    text-decoration: none;
    -webkit-transition: color .2s;
    -moz-transition:    color .2s;
    -o-transition:      color .2s;
    -transition:        color .2s;
}

html body div .RadInput_Default .riTextBox,
html body div .RadInputMgr_Default,
html body .riSingle .riTextBox,
html body .riSingle .riTextBox[type="text"] {
    border: 1px #ddd solid ;
    padding: 4px 8px;
    min-height: 20px;
    max-width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:focus {
        outline: none;
        -webkit-box-shadow: 0 0 3px #0078e7;
        -moz-box-shadow:    0 0 3px #0078e7;
        box-shadow:         0 0 3px #0078e7;
    }
}
    
html .RadGrid_Default,
html .RadGrid_Default .rgMasterTable,
html .RadGrid_Default .rgDetailTable,
html .RadGrid_Default .rgGroupPanel table,
html .RadGrid_Default .rgCommandRow table,
html .RadGrid_Default .rgEditForm table,
html .RadGrid_Default .rgPager table,
html .GridToolTip_Default {
    font: inherit;
}

.RadForm_Default.rfdButton a.rfdSkinnedButton,
.RadForm_Default.rfdButton input[type="button"].rfdDecorated,
.RadForm_Default.rfdButton input[type="reset"].rfdDecorated,
.RadForm_Default.rfdButton input[type="submit"].rfdDecorated,
.RadForm_Default.rfdButton .rfdSkinnedButton button, .RadForm_Default a.rfdSkinnedButton,
.RadForm_Default .rfdSkinnedButton button,
.RadForm_Default .rfdSkinnedButton input.rfdDecorated,
.RadForm_Default.rfdButton a.rfdSkinnedButton,
.RadForm_Default.rfdButton a.rfdSkinnedButton * {
    cursor: pointer;
}
    
#app .RadGrid a {
    color: #21759B;
}
a:hover,
#app .RadGrid a:hover {
    color: #333;
}

.container {
    background: #fff;
}
.project-details h4 {
    margin: 0;
    color: #333;
    font-size: 16px;
}
.project-details .desc {
    margin-top: 5px;
    color: #666;
}

    
    .topbar-container,
    .breadcrumb-container,
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .main-container {
        padding: 20px 0;
    }

    fieldset { border: 1px solid #ccc; margin: 5px 5px 10px; padding: 10px }

    legend { color: #666; font-size: 11px }

/* topbar */
.topbar 
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.6);
    -moz-box-shadow:    0 0 6px rgba(0,0,0,0.6);
    box-shadow:         0 0 6px rgba(0,0,0,0.6);

    
    transition: all 0.5s;
}
.topbar .brand {
    float: left;
    margin: 12px;
    text-indent: -999em;
    height: 26px;
    width: 48px;
    background: url("../images/logo.png") no-repeat
}

/* help icon in topbar */
.help span {
    display: block;
    float: left;
    background: url(../icons/iconset_white.png) -2px -405px;
    height: 24px;
    width: 29px;
    margin-right: 5px;
}
/* notifications in topbar */
.active .noticePoint {
    display: block;
}
.noticePoint {
    display: none;
    position: absolute;
    right: 100px;
    z-index: 10;
    width: 340px;
    background: #fff;
    top: 36px;
    text-align: left;
    text-shadow: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.noticePoint:before {
    content: "";
    border: 8px solid #fff;
    border-color: transparent transparent #f3f3f3 transparent;
    position: absolute;
    z-index: 12;
    top: -16px;
    left: 50%;
    margin-left: -4px;
}
.noticePoint a {
    color: #21759B;
    display: block;
    padding: 5px 10px;
    margin: 0;
}
.noticePoint a:hover {
    color: #333;
    background: #f5f5f5;
}
.noticePoint hr { border-top: 1px solid #eee; margin: 0; }

.noticePoint strong,
.noticePoint .viewall {
    display: block;
    background: #f3f3f3;
    border: 1px solid #ddd;
}
.noticePoint strong {
    padding: 5px 10px;
    border-width: 0 0 1px;
}
.noticePoint .viewall 
{
    color: #21759B;
    border-width: 1px 0 0;    
    text-align: center;
}


.noticeBadge strong {
    text-shadow: none;
    border: 1px solid transparent;
    position: relative;
    padding: 2px 4px;
    font-size: 11px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    color: white;
    background-color: #999;
    -webkit-transition: background .1s linear;
       -moz-transition: background .1s linear;
         -o-transition: background .1s linear;
            transition: background .1s linear;
}
.noticeBadge strong:before {
    content: "";
    display: block;
    border: 8px solid red;
    line-height: 5px;
    border-color: transparent #999 transparent transparent;
    position: absolute;
    top: 13px;
    right: 3px;
}
.noticeBadgeNew strong {
    background-color: #953B39;
}
.noticeBadgeNew strong:before {
    border-color: transparent #953B39 transparent transparent;
}
.noticeBadge:hover strong,
.active .noticeBadge strong {
    border-color: #ccc;
}
.active .noticeBadgeNew strong,
.noticeBadgeNew:hover strong {
    border-color: #b64846;
}

/* header */
.header {
    float: left;
    width: 100px;
    border-bottom: 1px solid #ddd;
    background: #eee;
    -webkit-box-shadow: inset 0 -1px 3px #ddd;
       -moz-box-shadow: inset 0 -1px 3px #ddd;
            box-shadow: inset 0 -1px 3px #ddd;
} 
   

 
 

.clear { clear: both; }

.floatleft { float: left; }

.floatright { float: right; }

.hide { display: none; }

.spacer { float: left; padding: 5px;}

.rightalign { text-align: right; }

.centrealign { text-align: center;}

.leftalign { text-align: left;}

/* tabs */

.tabs-vertical {
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #ddd;
    padding: 20px 0;
}
.tabs-vertical li {
    margin: 5px 0 0;
    text-align: right;
}
.tabs-vertical a {
    display: block;
    padding: 11px 10px 10px;
    border: 1px solid transparent;
    border-right: 0;
    -webkit-transition: background .2s linear;
       -moz-transition: background .2s linear;
            transition: background .2s linear;
}
.tabs-vertical a.active {
    display: block;
    margin-right: -1px;
    padding-right: 11px;
    color: #333;
    background: whiteSmoke;
    border-color: #ddd;

}
/* advanced search */
.search {
    position: relative;
    border: 1px solid transparent;
    padding: 5px;
    width: 310px;
}

/*#app .search .searchInput {
    background: url(../images/search.gif) no-repeat 4px 5px;
    padding: 5px 5px 5px 20px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
        -mozborder-radius: 3px;
            border-radius: 3px;
}*/

.toggleSearch {
    line-height: 16px;
    height: 16px;
    margin: 0;
}
.toggleSearch span {
    background: url(../images/toggle.gif) no-repeat 1px 1px;
    display: block;
    height: 16px;
    width: 16px;
    float: left;
    margin: 6px 6px 0 0;
}

.search .panel {
    display: none;
    width: 310px;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    left: -1px;
    position: absolute;
    z-index: 2;
    border-top: 0;
    -webkit-border-radius: 0 0 5px 5px;
       -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
}

.search .panel .label {
    float: none;
    width: 100%;
    text-align: left;
}
.search .row { margin: 0 0 5px 20px; }
.search.active {
    background: #f8f8f8;
    border-color: #ddd;
    -webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
}
.search.active .toggleSearch span {
    background-position: 1px -16px;
}
.search.active .panel {
    display: block;
}
.search .panel input[type='checkbox'] {
    margin: 0 5px 0 0;
}
    
/* paypal buttons */
.paypal_btn {
    display: block;
    clear: both;
    min-height: 24px;
    height: auto !important;
    height: 24px;
    width: 270px;
    margin: 10px auto;
    font-weight: normal;
}
.paypal_btn span {
    margin-left: 40px;
    display: block;
}
.paypal_btn strong {
    display: block;
    font-size: 15px;
}
.paypal_btn em {
    float: left;
    display: block;
    height: 26px;
    width: 26px;
    margin: 5px 10px 0 0;
    background: url(../icons/iconset.png) 0 -700px;
}
.paypal_cancel em {
    background-position: 0 -540px;
}
.paypal_suspend em {
    background-position: -347px -386px;
}
.paypal_reactivate em {
    background-position: -39px -424px;
}
    
    
    
    /* content */
  /*  #MainContent_rcbCategory_i0_RadTreeView1 li { font-weight: bold; color: #666 }
    
    #MainContent_rcbCategory_i0_RadTreeView1 ul ul li span.rtIn { font-weight: normal; color: #21759B !important; cursor: pointer; }
    
    #MainContent_rcbCategory_i0_RadTreeView1 ul ul li:hover { color: #000}*/
    
    /* suppliers pin arrow position */
    .pinArrow {
        display: inline-block;
        padding: 4px 6px;
        color: #fff !important;
        background: #21759B;
        font-size: 16px;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }
    .pinArrow:hover 
    {
        background: #333;
    }
    
    textarea { resize: vertical; }
    
    
    .RadGrid_Default .rgEditForm { background: #efefef; border: 0 }

div .RadGrid_Default .rgHeader, .RadGrid_Default th.rgResizeCol {
    background: #eaeaea;
    border-color: #ddd
}
    
    /* completion bar */
    .completionBar {
        height: 26px;
        line-height: 26px;
        margin: 0 0 10px;
        position: relative;
        background-color: #42B8DD;
        overflow: hidden;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
        -moz-box-shadow:    0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
        box-shadow:         0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset
    }
    
    .completionBar div {
        font-size: 12px; color: #fff; position: absolute; text-align: center; width: 100%; z-index: 3 }
    
    .completionBar span {
        position: absolute;
        display: block;
        height: 26px;
        background: #0078E7;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3),0 0 6px rgba(0,0,0,.2);
        -moz-box-shadow:    0 0 0 1px rgba(0,0,0,.3),0 0 6px rgba(0,0,0,.2);
        box-shadow:         0 0 0 1px rgba(0,0,0,.3),0 0 6px rgba(0,0,0,.2);
    }
    
    .locked { background: url(/icons/lock.png); display: block; padding: 5px 5px 5px 30px }
    
   




    .calc-open {
        border: 0;
        outline: none;
        display: inline-block;
        height: 16px;
        width: 16px;
        text-indent: -999em;
        background: url("../images/calculator.gif")
    }
    
/* variation Mode notifications */
.variationMode {
    display: none;
    position: fixed;
    top: 100px;
    right: -245px;
    width: 300px;
    z-index: 50;
    -webkit-transition: right .3s ease-in-out;
       -moz-transition: right .3s ease-in-out;
            transition: right .3s ease-in-out;   
}
.variationMode.active {
    right: 0;
    display: block;
}
.variationMode div {
    background: #333;
    background: rgba(0,0,0,.75);
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 20px 15px;
    color: #fff;
    margin: 0 0 0 55px;
    -webkit-border-radius: 35px 0 0 35px;
       -moz-border-radius: 35px 0 0 35px;
            border-radius: 0 0 0 10px;
}

.variationMode ul { list-style: square; margin: 0 0 0 30px; padding: 0; }

.variationMode a { color: #9fd3eb; }
.variationMode a:hover { color: #6dbce1; }
.openVariatonMode {
    float: left;
    display: block;
    background: #333;
    background: rgba(0,0,0,.75);
    color: #fff;
    padding: 10px 5px 10px 10px;
    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
            transition: background-color .2s linear;
    -webkit-border-radius: 38px 0 0 38px;
       -moz-border-radius: 38px 0 0 38px;
            border-radius: 38px 0 0 38px;
}
.openVariatonMode:hover span { background-color: #9FD3EB; }
.openVariatonMode span {
    height: 40px;
    width: 40px;
    text-indent: -999em;
    display: block;
    background: url(../icons/iconset.png) -456px -340px #fff;
    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
            transition: background-color .2s linear;
    -webkit-border-radius: 12em;
       -moz-border-radius: 12em;
            border-radius: 12em;
}

	h1,
	h2,
	h3,
	h4 {
	    color: #333;
        margin: 0 0 10px;
        border-bottom: 1px solid #EEE;
        line-height: 30px;
        font-weight: 400;
        /*font-size: 16px;*/
    }

    .cell { float: left; display: table-cell }


    .loading { position: fixed; z-index: 9999; background: #fff; top: 0; left: 0; right: 0; bottom: 0; }
	.loading div {
		position: fixed; width: 742px; left: 50%; margin-left: -371px; height: 100%;
		text-indent: -200em;
		background: url(../images/loading.gif) center no-repeat
	}

	#left {float: left; width: 50%; margin-right: 1% }

    #right { float: left; background: #bfdbff; width: 49%; }


		div.calcEnd { height: 23px; background: url(../images/calc_btm.gif) no-repeat bottom center }

		.calc, .calc tr, .calc td, .calc th { color: #fff}

	
	.inlineform { padding: 10px; background: #333; color: #fff }
	
	.inlineform td {  color: #fff }


    /* FORMS & FILTER --------------- */
    hr { border: 0; border-top: 1px solid #eee }

    .control {
        clear: both;
    }

    .control-label {
        float: left;
        width: 120px;
        font-weight: 600;
    }

    .control-body {
        margin-left: 130px;
    }

    div.row, div.rowl, div.row_req {
        margin: 10px 0;
        clear: both;
    }

    div.row label.label,
    div.rowl label,
    div.row_req label {
        margin-right: 10px;
        float: left;
        width: 120px;
        color: #999;
        display: block;
        font-weight: 600;
        text-align: right;
        font-size: 11px;
        text-transform: uppercase;
        margin-top: 1px;
    }

    .form-actions {
        margin: 10px 0;
        background: #eee;
        padding: 10px 10px 10px 130px;
    }
   
   div.rowl { text-align: right }
    
    div.rowl label {
        width:120px;
        text-align:left;
    	}
    	
	.disabled  { border: 0; background: #f3f3f3; color: #000}
	
	.req {
	    background: url(../images/req.gif) left center no-repeat;
	    display: inline-block !important;
	    height: 23px;
	    width: 23px;
	    text-indent: -999em;
	    padding: 0;
	    vertical-align: top
    }
    .req:hover { text-indent: 0; padding: 0 0 0 28px; width: auto }
	
  
	.clearfilter { display: inline-block; margin: 1px; padding: 0 4px 0 0; vertical-align: top; line-height: 22px }
	

/* filter style for multi-column combobox */
.multipleRowsColumns .rcbItem, .multipleRowsColumns .rcbHovered {
    float: left;
    margin: 0 1px;
    min-height: 13px;
    overflow: hidden;
    padding: 2px 19px 2px 6px;
    width: 125px;
}

	   /* table style */
    table.table 
    {
        border: 1px solid #cecece;
        border-collapse: collapse;
    }
    
    .table thead {
        background: #eaeaea;
        -webkit-box-shadow: 0 0 3px #fff inset, 0 -1px 0 #828282 inset, 0 5px 10px #fdfdfd inset;
        -moz-box-shadow:    0 0 3px #fff inset, 0 -1px 0 #828282 inset, 0 5px 10px #fdfdfd inset;
        box-shadow:         0 0 3px #fff inset, 0 -1px 0 #828282 inset, 0 5px 10px #fdfdfd inset
    }

    .table thead th { padding: 5px 7px 4px; font-weight: normal }

    .table td { padding: 4px 7px 3px }
    
    .table tbody td { border: 1px solid #cecece; background: #fff }
    
    .table tbody tr:nth-child(2n+1) { -moz-box-shadow: 0 60px 0 30px rgba(0,0,0,0.025) inset}
    
    .table tbody tr:hover {
        -webkit-box-shadow: 0px 0px 5px 0px #999, 0 -1px 0 #fff inset, 1px 0 0 #fff inset, -1px 0 0 #FFFFFF inset, 0 1px 0 #FFFFFF inset;
        -moz-box-shadow:    0px 0px 5px 0px #999, 0 -1px 0 #fff inset, 1px 0 0 #fff inset, -1px 0 0 #FFFFFF inset, 0 1px 0 #FFFFFF inset;
        box-shadow:         0px 0px 5px 0px #999, 0 -1px 0 #fff inset, 1px 0 0 #fff inset, -1px 0 0 #FFFFFF inset, 0 1px 0 #FFFFFF inset;                      
    }

    .table tfoot tr { background: #333; color: #fff }
    
    
    .table tfoot th { padding: 5px 10px}
    
    .table .firstcol { border-left: 2px solid #333 }
    
    .table .netcol { background-color: #f2f2f2 }
    .table .purchasecol { background-color: #e9e9e9 }
    .table .projectcol { background-color: #e1e1e1 }

/* Telerik overrides */
#app .RadGrid_Default {
    border: 1px solid #ddd;
    outline: 0;
}

div .RadGrid_Default .rgMasterTable .rgSelectedCell,
div .RadGrid_Default .rgSelectedRow {
    background: #666
}

#app .RadGrid .rgSelectedRow a {
    color: #fff;
}
div.RadTreeView_Default .rtHover .rtIn,
div.RadTreeView_Default .rtSelected .rtIn,
div.RadTreeView_Default .rtHover span.rtIn,
div.RadTreeView_Default .rtSelected span.rtIn,
div.RadTreeView_Default .rtIn {
    background: none;
    border: 0;
    color: #000;
    padding: 4px 3px 3px;
}
div.RadTreeView_Default .rtIn {
    cursor: pointer;
    color: #21759b;
}
div.RadTreeView_Default .rtSelected .rtIn,
div.RadTreeView_Default .rtHover .rtIn {
    color: #333;
}

/* responsive layout */
@media (max-width: 979px) {
    .div25,
    .div25r,
    .div33,
    .div33r,
    .div50,
    .div50r,
    .div66,
    .div66r,
    .div75,
    .div75r {
        float: none; width: auto; margin: 0;
    }
}


@media (max-width: 480px) {
    .topbar {
        padding: 0;
        text-align: left;
        position: static;
    }
    .topbar h1 {
        float: none;
        padding: 5px;
    }
    
    .main_content { margin-top: 10px;}
    .topbar ul {
        float: none;
    }

    .topbar li {
        border-top: 1px solid #333;
        float: none;
        padding: 5px;
    }
    
    .noticePoint {
        left: 0;
        position: static;
    }
    .topbar span.notext { display: inline; }
}