// set blinker for highlighting tour items
.blink-me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.tour-progress {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    background-color: #fff;
}

.tour-progress span {
    display: block;
    height: 5px;
    width: 0;
    background-color: #21759b;
    position: relative;
}

.tour-progress span:before {
    content : "Tour Progress";
    position: absolute;
    top: -25px;
    text-align: center;
    font-size: 12px;
    width: 100px;
}
.tour-progress span:after {
    content : " ";
    position: absolute;
    height: 16px;
    right: 0;
    top: -5px;
    border-left: 1px solid #fff;
}


    .tour-0 span {
        width: 0;
    }

    .tour-1 span {
        width: 10%;
    }

    .tour-2  span {
        width: 20%;
    }

    .tour-3 span {
        width: 30%;
    }

    .tour-4 span {
        width: 40%;
    }

    .tour-5 span {
        width: 50%;

    }

    .tour-6 span {
        width: 60%;

    }

    .tour-7 span {
        width: 70%;

    }
    
    .tour-8 span {
        width: 80%;

    }
    .tour-9 span {
        width: 90%;

    }
    .tour-10 span {

    }


.tour-window {
    display: none;
    padding: 15px;
    color: #fff;

    margin-top: 53px;
    margin-bottom: -53px;
    background-color: #00adef;

    h2, h3 {
        border: 0;
        color: #fff;
        font-weight: 200;
    }

    .container {
        background: url('/tour/images/guide1.png');
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 140px;
        padding-left: 180px;
        position: relative;
    }

    a.lnk {
        color: #f5f5f5;
        text-decoration: underline;

        &:hover {
            color: #eee;
        }
    }
    
}


@-moz-keyframes tour-in {  
    0% { transform: translate(-50px,0); }
    50% { transform: translate(-20px,0); }
    100% { transform: translate(0,0); }
}

@-webkit-keyframes tour-in {
    0% { transform: translate(-50px,0); }
    50% { transform: translate(-20px,0); }
    100% { transform: translate(0,0); }
}

@keyframes tour-in {
    0% { transform: translate(-50px,0); }
    50% { transform: translate(-20px,0); }
    100% { transform: translate(0,0); }
}

.tour-box {
    background-color: #6cb5f4;
    padding: 10px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    h2 {
        border: 0;
        color: #fff;
    }

    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

// video tour page
.tour-alert {
    position: fixed;
    width: 400px;
    background: #222;
    z-index: 1200;
    left: 50%;
    top: 0;
    margin-top: -129px;
    margin-left: -200px;
    padding: 20px;
    visibility: hidden;
    
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
    -moz-box-shadow:    0 0 15px 1px rgba(0,0,0,0.4);
    box-shadow:         0 0 15px 1px rgba(0,0,0,0.4);

    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;

    
    -webkit-transition: opacity .3s linear, top .2s linear, visibility .3s linear;
    -moz-transition:    opacity .3s linear, top .2s linear, visibility .3s linear;
    transition:         opacity .3s linear, top .2s linear, visibility .3s linear;

    h2 {
        border: 0;
        color: #fff;
    }

    p {
        line-height: 21px;
        line-height: 1,6em;
        color: #fff;
    }
}

.tour-inner {
    border: 1px solid #ddd;
    padding: 10px;
    h1 {
        border: 0;
        font-size: 20px;
        line-height: 24px;

        span {
            display: block;
            color: #666;
            font-size: 14px;
        }
    }

    h3 {
        color: #fff;
        border: 0;
    }

    .tour-nav {
        float: left;
        width: 280px;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li + li {
                margin-top: 3px;
            }

            a {
                padding: 4px 8px;
                display: block;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;

                &:hover {
                    background-color: #ddd;
                }
            }

            .active {
                a {
                    background-color: #21759b;
                    color: #fff;
                }
            }
        }
    }

    .tour-content {
        margin-left: 300px;
        color: #fff;
    }
}

.show-tour {
    .md-wrapper {
        opacity: 1;
        visibility: visible;
    }

    .tour-inner {
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: visible;
        display: block;
        left: 50%;
    }
}

.show-tour-alert {
    .tour-alert {
        top: 20%;
        opacity: 1;
        visibility: visible;
    }
}